<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhh.seamanrecruit.dao.ResumeDao">


    <select id="selectPageList" resultType="com.lhh.seamanrecruit.dto.resume.ResumeDto">
        SELECT * FROM resume WHERE user_status in (1,2)
        <if test="param != null and param.education != null and param.education != ''">
            AND education in (#{param.education})
        </if>
        <if test="param != null and param.certificateLevel != null and param.certificateLevel != null">
            AND certificate_level = #{param.certificateLevel}
        </if>
        <if test="param != null and param.monthlySalary != null and param.monthlySalary != null">
            AND monthly_salary = #{param.monthlySalary}
        </if>
    </select>

    <select id="queryResumePage" resultType="com.lhh.seamanrecruit.dto.resume.ResumeDto">
        SELECT r.*,ur.position_id FROM resume r,user_position ur WHERE r.user_id IN
        (SELECT user_id FROM user_position WHERE position_id IN
        (SELECT id FROM position WHERE company_id =
        (SELECT id FROM company WHERE user_id = #{param.userId})))
        AND r.`user_id` = ur.`user_id`
        AND ur.`delivery_flag` = 1
    </select>
    <select id="selectByUserId" resultType="com.lhh.seamanrecruit.entity.Resume">
        select * from resume where user_id = #{loginUserId}
    </select>

</mapper>