<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhh.seamanrecruit.dao.ResumeDao">


    <select id="selectPageList" resultType="com.lhh.seamanrecruit.entity.Resume">
        SELECT * FROM RESUME WHERE user_status in (1,2)
    </select>

</mapper>