<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhh.seamanrecruit.dao.UserPositionDao">


    <select id="selectUserPosition" resultType="com.lhh.seamanrecruit.entity.UserPosition">
        select * from
        user_poistion
        where user_id = #{userId}
        and position_id = #{positionId}
        and created_time >= #{dateTime}
    </select>
</mapper>